{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
<ol class="breadcrumb">
  {% set i = 0 %}
  {% for item in breadcrumb %}
      {% if item.text %}
        {% if item.url %}
          <li>
            <a href="{{ item.url }}">
              {% if i == 0 %}
                <i class="fa fa-home"></i>
              {% endif %}
              {{ item.text }}
            </a>
          <li>
        {% else %}
          <li class="active">{{ item.text }}</li>
        {% endif %}
      {% endif %}
      {% set i = i + 1 %}
  {% endfor %}
  {% if title and not is_front %}
    <li class="active">{{ title }}</li>
  {% endif %}
</ol>
{% endif %}
