{#
/**
 * @file
 * Template for a example 2 column layout.
 */
#}
<div class="row">
  <div class="col-md-6">
    {{ content.left }}
  </div>
  <div class="col-md-6">
    {{ content.right }}
  </div>
</div>
