{#
/**
 * @file
 * Template for a 3 column layout.
 */
#}
<div class="row">
  <div class="col-md-4">
    {{ content.left }}
  </div>
  <div class="col-md-4">
    {{ content.center }}
  </div>
  <div class="col-md-4">
    {{ content.right }}
  </div>
</div>
